.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  /* Outer circle size */
  width: 600px;
  height: 600px;

  background-color: #ff6347;
  border-radius: 50%;

  /* Makes the div circular */
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* create hole in clock */
.clock::before {
  content: '';

  /* Move the hole closer to the center */
  position: absolute;
  top: 15%;
  left: 15%;

  /* hole size */
  width: 70%;
  height: 70%;

  /* to change later: make hole same color as background */
  background-color: white;

  /* Round the hole */
  border-radius: 50%;
}

/* task part of clock */
.task {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* to change later: make degrees changable */
  background: conic-gradient(#20148a 0deg 30deg, transparent 30deg 360deg);

  /* Ensures that it is circular */
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
}